/* External CSS */
h3{
 color: darkgoldenrod;
 font-size: 3em;
}
#title{
 color: red;
 background:goldenrod;
}
#subheading{
 color: rgb(255, 255, 255); 
 background: rgb(0, 0, 0);
}
body{
 background-color: aquamarine;
}