*{
 margin:0;
 padding: 0;
 box-sizing: :border-box;
}
div{
 min-height: 100vh;
 color: green;
 font-size: 60px;
 display: flex;
 justify-content: center;
 align-items: center;
 text-align: center;


}
.big-img{
background: url(./img1.jpg);
background-size: 100%;

}
.folder-img{
 background: url(./img2.jpg);
 background-size: contain;
 background-repeat: no-repeat;
 

}
.small-img{
 background: url(./img3.jpg);
 border: 2px solid white;
 background-size: 15ch;
 background-repeat: no-repeat;
 background-position: 100% 100%;

}
