div{
 width: 150px;
 height: 150px;
 display: inline-block;
}

/* Rotate  and skew  transtion*/
.one{
 background-color: red;
 transform: skew(-20deg);
}
.two{
 background-color: green;
 transform: rotateZ(135deg);  
}
.three{
 background-color: blue;
 transform: rotateY(320deg);
 transition: background 3s;
}
.three:hover{
 background: coral;
}

 
/* Translate */
/* div{
 width: 150px;
 height: 150px;
 display: inline-block;
}
.one{
 background-color: red;
 transform: translateX(50%);
}
.two{
 background-color: green;
 transform:translateY(30px);
}
.three{
 background-color: blue;
 transform: translate(20px,300px);
}
 */