:root{
 --primaryColor:#f15025;
 ---mainTransition: all 0.4s linear;
 --secondaryColor: #1313fa;
}

.heading{
 color: var(--primaryColor);
}
.second-heading{
 color: var(--primaryColor);
}
.second-heading:hover{
color: var(--secondaryColor);
}
div{
 --primaryRed: red;
}
.main-text{
 color  : var(--primaryRed);
} 
.third-heading{
 color: var(--he)
}