 .div{
  width:200px;
  height: 100px;
  margin: 10px;
  color: white;
 }
 .transition{
  background-color: rgb(228, 23, 23);
  transition: all 2s linear;
 }
 .transition:hover{
  background-color: yellow;
  transform: translateX(100px);
 }
  .animation{
   background-color: blue;
   /* animation-name: move;
   animation-duration: 10s;
   animation-iteration-count: 2; */
   animation: move 5s infinite;

  }
  @keyframes move{
   0%{
    transform: translateX(20px);
   }
   50%{
    transform: translateX(100px);
    background-color: red;
   }
   75%{
    transform: translateX(-100px);
    background-color: yellow;
   }
   100%{
    transform: translateX(20px);
    background-color: rgb(255, 196, 0);
   }
   
  }

